<%- include("headder") -%>
    <h2>This is about</h2>
    <p class="aboutP"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat explicabo magnam vero, debitis vel ab vitae laboriosam placeat quas quasi ad officia aspernatur dolorem ipsa iste adipisci, id corrupti quidem!
    </p>
    <%- include("footer") -%>