<footer>
    <!-- Copyright -->
    <div class="footer-copyright text-center mw-100 py-4">Made with ❤️ by
        <a href="#"> bitescode</a>
    </div>
    <!-- Copyright -->
</footer>
</body>

</html>